.gallery {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 48px;
    column-gap: 24px;
}


.gallery img {
    width: 360px;
    height: 300px;
    object-fit: cover;
}